<div class="container">
    <div class="container-titulo">
        <h1>Cadastrar jogadores</h1>
    </div>

    <div class="container-form">
        <form>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Jogador</mat-label>
                    <input type="text" matInput [formControl]="jogadorFormControl" placeholder="Ex. pat@example.com">
                </mat-form-field>
                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>add</mat-icon>
                  </button>
            </div>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Jogador</mat-label>
                    <input type="text" matInput [formControl]="jogadorFormControl" placeholder="Ex. pat@example.com">
                </mat-form-field>
                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>add</mat-icon>
                  </button>
            </div>
            <div class="input-container">
                <mat-form-field>
                    <mat-label>Jogador</mat-label>
                    <input type="text" matInput [formControl]="jogadorFormControl" placeholder="Ex. pat@example.com">
                </mat-form-field>
                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon">
                    <mat-icon>add</mat-icon>
                  </button>
            </div>
        </form>
    </div>
</div>