<div class="container-teste-teste">
    <div class="container-teste">
        <img src="assets/nicolas.png" alt="Your Image">
        <div class="text-overlay">
          Your Text Here
        </div>
    </div>
</div>


<!-- <div class="container" *ngIf="!isLoading && !fimDeJogo">
    <div class="container-titulo">
        <h1>{{quemPerguntaEResponde.jogadorQueResponde?.nome}}</h1>
        <h2>Sua palavra é "{{palavra.palavra}}"</h2>
    </div>

    <div class="container-palavra">
        <span class="contador">{{ tempo }}</span>
    </div>

    <div class="container-selecao" *ngIf="!isFinalizado">
        <button mat-raised-button  *ngIf="!iniciado" color="accent" (click)="iniciar()">Iniciar</button>
        <button mat-raised-button  *ngIf="iniciado" (click)="parar()">Parar</button>
    </div>

    <div class="container-selecao" *ngIf="isFinalizado">
        <button mat-raised-button (click)="errou()">Errou</button>
        <button mat-raised-button (click)="acertou()" color="accent">Acertou</button>
    </div>
</div>
<div class="container" *ngIf="fimDeJogo">
    <div class="container-titulo">
        <h2>Ranking</h2>
    </div>

    <div class="container-palavra">
        <h2 *ngFor="let pontuacao of pontuacaoFinal; let i = index" class="jogadores">
            {{i+1 }} - {{pontuacao.nomeJogador}} com {{pontuacao.tentativas}} tentativas
        </h2>
    </div>
</div>

<div class="container" *ngIf="burro">
    <div class="container-titulo">
        <h2>{{ofensa}}</h2>
    </div>
</div>
 -->
