.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container-titulo {
  width: 100%;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 36px;
  // background-image: url('../../assets/img/nicolas.png');
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
  // background-position-y: 20px;
  // background-position-x: 70%;
  h1 {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
  }
  h2 {
    margin-top: 40px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
  }
}

.container-palavra {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .contador {
    margin-top: 80px;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    color: white;
  }
}

.container-selecao {
  display: flex;
  margin-top: 80px;
  width: 40%;
  flex-direction: row;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  button {
    width: 90%;
    height: 50%;
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }
}

.jogadores {
  margin-top: 40px;
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: white;
}

.container-teste {
  position: relative;
  display: inline-block;
  
}

.text-overlay {
    position: absolute;
    bottom: 450px; /* Ajuste conforme necessário */
    left: 100px; /* Ajuste conforme necessário */
    color: white; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo do texto (opcional) */
    padding: 10px; /* Espaçamento interno (opcional) */
}

.container-teste-teste{
    display: flex;
    justify-content: center;
}